<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<!-- navigation -->
<link href="css/component.css" rel="stylesheet" type="text/css"  />
<!-- navigation -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="My Pets Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<script src="js/responsiveslides.min.js"></script>
 <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
  <script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
</head>
<body>
    <!-- header-section-starts -->
	<div class="header">
		<div class="header-top">
			<div class="container">
				<p class="location"><i class="location"></i>18A, Polo Street (Yellow Door)</p>
				<p class="phonenum">+ 655 8858 2068 54892</p>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<span class="menu"></span>
				<div class="top-menu">
					<ul>
					<nav class="cl-effect-5">
						<li><a href="index.html"><span data-hover="Home">Home</span></a></li>
						<li><a class="active" href="about.html"><span data-hover="About">About</span></a></li>
						<li><a href="photos.html"><span data-hover="Photos">Photos</span></a></li> 
						<li><a href="404.html"><span data-hover="Care">Care</span></a></li> 
						<li><a href="blog.html"><span data-hover="Blog">Blog</span></a></li> 
						<li><a href="contact.html"><span data-hover="Contact">Contact</span></a></li>
					</nav>
					</ul>
				</div>
				<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- header-section-ends -->
	<!-- content-section-starts -->
	<div class="content">
		<!--about-->
		<div class="main">
			<div class="container">
				<div class="about-top">
					<div class="about-top-info">
							<h3>About</h3>
							<div class="col-md-4 about-img">
								<img src="images/pic8.jpg" alt=""/>
							</div>
							<div class="col-md-8 about-desc">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
									 dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper 
									 suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in 
									 vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
									  et iusto odio dignissim qui blandit praesent.</p>
									  <p>Lorem ipsum dolor sit amet,consectetuer adipiscing elit,sed diam nonummy nibh euismod.tincidunt ut 
										laoreet dolore magna aliquam erat volutpat. luptatum zzril delenit augue duis dolore te feugait nulla facilisi Ut wisi enimad minim veniam, quis nostrud exercitation ullamcorper 
										suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate.ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in 
									 vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
									  et iusto odio dignissim qui blandit praesent.</p>
								
							</div>
							<div class="clearfix"> </div>
					</div>
			</div>
			<div class="about-bottom">
						<div class="about-topgrid1">
							<h3>Who We Are</h3>
					<div class="col-md-8 about-bottom-info">
							   <h5>LOREM IPM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. PRAESENT VESTIBULUM.</h5>
							   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aeonummy hendrerit mauris..
							It is a long established fact that a reader will be dolore magna aliquam erat volutpat. Ut wisi enimad minim veniam, quis nostrud exercitation ullamcorper distracted by the readable content of a page when looking at its layout dolore magna aliquam erat volutpat. Ut wisi enimad minim veniam, quis nostrud exercitation ullamcorper . </p>
					</div>
						<div class="col-md-4 about-bottom-info-right">
						 <img src="images/pic9.jpg" alt="" />
						 </div>
						 <div class="clearfix"> </div>
					</div>
					</div>
					 <div class="clearfix"> </div>
				</div>
				</div>
				<div class="aboutus">
							<div class="container">
						<div class="about-bottom-info">
					<div class="col-md-4 about-left">
						<div class="check-in">
							<img src="images/dg-6.png" alt=""/>
						</div>
						<div class="check-out">
							<p>Mauris fermentum dictum magna
							sed laoreet aliquam leo ut tellus</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 about-left">
						<div class="check-in">
							<img src="images/dg-5.png" alt=""/>
						</div>
						<div class="check-out">
							<p>Mauris fermentum dictum magna
							sed laoreet aliquam leo ut tellus</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 about-left">
						<div class="check-in">
							<img src="images/dg-4.png" alt=""/>
						</div>
						<div class="check-out">
							<p>Mauris fermentum dictum magna
							sed laoreet aliquam leo ut tellus</p>
						</div>
						<div class="clearfix"> </div>
					</div>
						<div class="col-md-4 about-left">
						<div class="check-in">
							<img src="images/dg-3.png" alt=""/>
						</div>
						<div class="check-out">
							<p>Mauris fermentum dictum magna
							sed laoreet aliquam leo ut tellus</p>
						</div>
						<div class="clearfix"> </div>
					</div>
						<div class="col-md-4 about-left">
						<div class="check-in">
							<img src="images/dg-2.png" alt=""/>
						</div>
						<div class="check-out">
							<p>Mauris fermentum dictum magna
							sed laoreet aliquam leo ut tellus</p>
						</div>
						<div class="clearfix"> </div>
					</div>
							<div class="col-md-4 about-left">
						<div class="check-in">
							<img src="images/dg-1.png" alt=""/>
						</div>
						<div class="check-out">
							<p>Mauris fermentum dictum magna
							sed laoreet aliquam leo ut tellus</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!--/about-->
		</div>
	<!-- content-section-ends -->
	<!-- footer-section-starts -->
	<div class="footer">
		<div class="container">
			<div class="col-md-5 contact-section">
				<h4>Contact Form</h4>
					<input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
					<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
					<textarea onfocus="if(this.value == 'Message') this.value='';" onblur="if(this.value == '') this.value='Message';" >Message</textarea>
					<input type="submit" value="SEND">
			</div>
			<div class="col-md-7 follow-us">
				<h4>Follow Us</h4>
				<div class="social-icons">
					<i class="facebook"></i>
					<i class="twitter"></i>
					<i class="pinterest"></i>
					<i class="googlepluse"></i>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor</p>
				<div class="copyright">
					<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- footer-section-ends -->
	<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>